:root {
   --color-white: #ffffff;
   --color-black: #202421;
   --color-bg-modal: #20242180;
   --color-green: #116c42;
   --color-grey: #e5e5e5;
   --color-grey2: #c6c6c6;
   --color-grey3: #878787;
   --color-line: #2f2f2f;
   --color-blue: #01c2ff;
   --color-bright-green: #40f800;
   /*  --color-line: red; */
}